# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
venv/
env/
.env/
.venv/

# Environment variable files
.env

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# OS specific files
.DS_Store
Thumbs.db

# Exam directories
estadisticas/
examenes/
respuestas/
soluciones/

# Ignore all contents inside these directories
estadisticas/**
examenes/**
respuestas/**
soluciones/**
